#BACKEND

# !__init__.py <==> This should be after '**/migrations/**' unless it skipped
**/migrations/**
!__init__.py
**__pychache__/**
**/__pycharm__*
**.pyc
*.pyc
*.idea/**
*.vscode/**
.vs*/**
.VS*/**
*.db
*.sqlite3
**assets/**
**media/**




# FRONTEND
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
